<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Socrates</title>
        <meta name="description" content="Write and read beautiful Markdown with whoever you want, in realtime!">
        <meta name="viewport" content ="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="shortcut icon" href="https://raw.github.com/segmentio/socrates/live/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="https://raw.github.com/segmentio/socrates/live/socrates.css">
        <script src="https://static.firebase.com/v0/firebase.js"></script>
        <script src="http://use.typekit.net/gmy5jor.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
    </head>

    <body>
        <section class="write">
            <ul class="document-menu"></ul>
            <form class="write-form">
                <div class="write-buttons">
                    <button class="menu-button ss-rows"></button>
                    <button class="add-button ss-plus"></button>
                    <button class="write-only-button ss-write"></button>
                </div>
                <textarea class="document-textarea"></textarea>
            </form>
            <aside class="attribution">Brought to you by <a class="segmentio-link" href="https://segment.io">Segment.io</a>&ensp;&mdash;&ensp;Powered by <a class="firebase-link" href="https://firebase.com">Firebase</a></aside>
        </section>

        <section class="read">
            <div class="read-buttons">
                <button class="read-only-button ss-view"></button>
            </div>
            <article class="document-article"></article>
        </section>

        <script type="text/template" id="document-menu-item-template">
            <li data-id="<%= document.id %>" class="document-menu-item">
                <div class="document-menu-item-wrap">
                    <span class="document-menu-item-title"><%= document.get('title') %></span>
                    <button class="document-menu-item-delete-button ss-trash"></button>
                </div>
            </li>
        </script>

        <script src="https://raw.github.com/segmentio/socrates/live/libs.js"></script>
        <script src="https://raw.github.com/segmentio/socrates/live/socrates.js"></script>
        <script src="https://raw.github.com/segmentio/socrates/live/app/app-view.js"></script>
        <script src="https://raw.github.com/segmentio/socrates/live/app/app-model.js"></script>
        <script src="https://raw.github.com/segmentio/socrates/live/document/document-fixtures.js"></script>
        <script src="https://raw.github.com/segmentio/socrates/live/document/document-model.js"></script>
        <script src="https://raw.github.com/segmentio/socrates/live/document/document-collection.js"></script>
        <script src="https://raw.github.com/segmentio/socrates/live/document/document-menu-view.js"></script>
    </body>
</html>