<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="socrates.css">
        <link rel="stylesheet" type="text/css" href="https://raw.github.com/ccampbell/rainbow/master/themes/solarized-light.css">

        <script src="https://static.firebase.com/v0/firebase.js"></script>
        <script src="http://use.typekit.net/gmy5jor.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
    </head>

    <body>
        <section class="write">
            <div class="write-buttons">
                <button class="write-menu-button ss-rows"></button>
                <button class="write-add-button ss-plus"></button>
                <button class="write-only-button ss-write"></button>
            </div>
            <ul class="write-menu"></ul>
            <textarea class="write-textarea"></textarea>
        </section>

        <section class="read">
            <div class="read-buttons">
                <button class="read-only-button ss-view"></button>
            </div>
            <article class="read-article"></article>
        </section>

        <script type="text/template" id="document-menu-item-template">
            <li data-id="<%= document.id %>" class="document-menu-item">
                <div class="document-menu-item-wrap">
                    <%= document.get('title') %>
                    <button class="document-menu-item-delete-button ss-trash"></button>
                </div>
            </li>
        </script>

        <script src="libs.js"></script>
        <script src="socrates.js"></script>
        <script src="app/app-view.js"></script>
        <script src="app/app-model.js"></script>
        <script src="document/document-model.js"></script>
        <script src="document/document-collection.js"></script>
        <script src="document/document-menu-view.js"></script>
    </body>
</html>