<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Socrates</title>
        <meta name="description" content="Write and read beautiful Markdown with whoever you want, in realtime!">
        <meta name="viewport" content ="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="shortcut icon" href="favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="socrates.css">
        <script src="https://static.firebase.com/v0/firebase.js"></script>
        <script src="http://use.typekit.net/gmy5jor.js"></script>
        <script type="text/x-mathjax-config">
          MathJax.Hub.Config({
            tex2jax: {
                displayMath: [['$$','$$'], ['\\[','\\]']],
                inlineMath: [['\\(','\\)']]
            }
          });
        </script>
        <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <script>try{Typekit.load();}catch(e){}</script>
        <script>
            var analytics=analytics||[];analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net"+"/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);var r=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}},s=["identify","track"];for(var i=0;i<s.length;i++)analytics[s[i]]=r(s[i])},
            analytics.load("984duyw");
        </script>
    </head>

    <body>
        <section class="write">
            <ul class="document-menu"></ul>
            <form class="write-form">
                <div class="write-buttons">
                    <button title="Your Documents" class="menu-button ss-rows"></button>
                    <button title="New Document" class="add-button ss-plus"></button>
                    <button title="Write Mode" class="write-only-button ss-write"></button>
                </div>
                <div class="write-textarea-wrap">
                    <textarea class="document-textarea"></textarea>
                </div>
            </form>
            <aside class="attribution">Brought to you by <a class="segmentio-link" href="https://segment.io">Segment.io</a>&ensp;&mdash;&ensp;Powered by <a class="firebase-link" href="https://firebase.com">Firebase</a></aside>
        </section>

        <section class="read">
            <div class="read-buttons">
                <button title="Read Mode" class="read-only-button ss-view"></button>
            </div>
            <article class="document-article"></article>
        </section>

        <script type="text/template" id="document-menu-item-template">
            <li data-id="<%= document.id %>" class="document-menu-item">
                <div class="document-menu-item-wrap">
                    <span class="document-menu-item-title"><%= _.escape(document.get('title')) %></span>
                    <button title="Delete Document" class="document-menu-item-delete-button ss-trash"></button>
                </div>
            </li>
        </script>

        <script src="libs.js"></script>
        <script src="socrates.js"></script>
        <script src="app/app-view.js"></script>
        <script src="app/app-model.js"></script>
        <script src="document/document-model.js"></script>
        <script src="document/document-collection.js"></script>
        <script src="document/document-menu-view.js"></script>
    </body>
</html>
