@import symbolset/ss-standard

@mixin flexbox()
    display: -webkit-box
    display: -moz-box
    display: -ms-box
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: flex

@mixin flex($flex)
    -webkit-box-flex: $flex
    -moz-box-flex: $flex
    -ms-box-flex: $flex
    -webkit-flex: $flex
    -moz-flex: $flex
    -ms-flex: $flex
    flex: $flex


// Constants
// ---------

$red    : #f57e5d
$yellow : #f5d371
$aqua   : #49b27d
$blue   : #4b8b8d
$purple : #957a96
$sand   : #fcfcfa

$dark-aqua: darken($aqua, 7%)
$dark-sand: #f7f6f2

$text: #35332e

$button-padding: .5rem


// Base
// ----

html
    font-size: 16px
    line-height: 1.4
    color: $text
    overflow-y: scroll
    overflow-x: hidden

    @media (min-width: 1200px)
        font-size: 17px
    @media (min-width: 1300px)
        font-size: 18px
    @media (min-width: 1600px)
        font-size: 20px
    @media (min-width: 1800px)
        font-size: 22px

button
    -webkit-appearance: none
    -moz-appearance: none
    background: transparent
    border: none

    font-size: 12px
    color: $text
    padding: $button-padding $button-padding*1.2 $button-padding*.9
    cursor: pointer

    opacity: .2
    &:hover,
    &:active,
    &.pressed
        opacity: 1

article
    > :first-child
        margin-top: 0

    > *
        margin-top: 1rem
        margin-bottom: 1rem

    h1
        font-size: 1.5rem
        margin-top: 4rem
        margin-bottom: 2.5rem

        position: relative
        text-align: center

        &::after
            content: ''
            width: 100px
            left: 50%
            margin-left: -50px
            border-bottom: 1px solid #eee
            top: 100%
            position: absolute
            margin-top: 1rem

    h2
        font-size: 1.25rem
        margin-top: 2rem

    h3,
    h4,
    h5,
    h6,
        font-size: 1rem
        margin-top: 2rem

    p
        text-align: justify

        -webkit-hyphens: auto
        -moz-hyphens: auto
        -ms-hyphens: auto
        -o-hyphens: auto
        hyphens: auto

    blockquote
        margin-top: 1.5rem
        margin-bottom: 1.5rem
        font-style: italic

    a
        position: relative
        color: $aqua
        &:hover,
        &:focus
            color: $dark-aqua
        &:active
            top: 1px

    ul,
    ol
        margin-left: 2em
        font-size: .9em

        > li:not(:last-child)
            margin-bottom: .5em

    pre,
    code
        font-family: "inconsolata", mono
        margin-top: 1.5rem
        margin-bottom: 1.5rem
    pre
        font-size: .8em
    code
        font-size: .95em

textarea
    -webkit-appearance: none
    -moz-appearance: none
    display: block

    border: none
    background: transparent
    resize: none

    &:focus
        outline: none


// Layout
// ------

*
    margin: 0
    padding: 0

body
    +flexbox()

.write,
.read
    position: relative
    overflow: hidden

.write
    +flex(0)
    width: 33rem
.read
    +flex(1)


// Write & Read
// ------------

.document-textarea,
.document-article
    padding: 3rem
    max-width: 32rem
    margin: 0 auto

.write-buttons,
.read-buttons
    overflow: hidden


// Read
// ----

.read
    font-family: "kepler-std", serif

    border-left: 1px solid darken($sand, 6%)
    box-shadow: 0 -1px 10px darken($sand, 6%)

.document-article

.read-only-button
    float: left


// Write
// -----

.write
    background: $sand

.write,
.document-textarea
    font-family: "inconsolata", mono
    font-size: 12px
    line-height: 1.2

    @media (min-width: 1200px)
        font-size: 14px

.document-textarea
    width: 100%
    height: 100%

.document-menu
    list-style: none

    position: relative

    background-color: $dark-sand
    border-top: 1px darken($dark-sand, 5%) solid
    border-bottom: 1px darken($dark-sand, 5%) solid

    box-shadow: inset 2px 0 6px darken($dark-sand, 6%)
    &::after
        content: ''
        position: absolute
        top: 100%
        left: 0
        right: 0
        border-bottom: 1px solid white

    // Initial display state.
    display: none

.document-menu-item
    overflow: hidden

    cursor: pointer
    &:hover,
    &:focus
        background: rgba($text, .01)
        outline: none
        color: $aqua
    &:active
        color: $dark-aqua

.document-menu-item-wrap
    // Match textarea width.
    max-width: 26rem
    margin: 0 auto

    // Match button padding.
    padding: $button-padding $button-padding*1.2 $button-padding*.9

    // Clearfix.
    overflow: hidden

.document-menu-item-delete-button
    float: right
    opacity: .1
    padding: 0

.menu-button,
.add-button
    float: left
.write-only-button
    float: right

// Reduce the padding between the two buttons.
.add-button
    padding-left: $button-padding / 1.5
.menu-button
    padding-right: $button-padding / 1.5


// Write & Read Only
// -----------------

.write-only .read,
.read-only .write
    +flex(0)
    width: 37rem
.write-only .read
    margin-right: -30rem
.read-only .write
    margin-left: -30rem

.write-only .write,
.read-only .read
    +flex(1)


// Code Highlighting
// -----------------

// Everything's purple or light gray.
pre
    .comment
        color: lighten($text, 45%)
    .constant,
    .storage,
    .tag,
    .keyword:not(.operator),
    .selector,
    .string:not(.value),
    .regexp,
    .function
        color: $purple
