<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="socrates.css">

        <link rel="stylesheet" type="text/css" href="https://raw.github.com/ccampbell/rainbow/master/themes/solarized-light.css">

        <script type='text/javascript' src='https://static.firebase.com/v0/firebase.js'></script>

        <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
        <script src="https://raw.github.com/ianstormtaylor/jquery-state/master/jquery-state.min.js"></script>
        <script src="https://raw.github.com/alanhogan/Tabby/master/jquery.textarea.min.js"></script>

        <script src="http://underscorejs.org/underscore-min.js"></script>
        <script type='text/javascript' src='http://backbonejs.org/backbone-min.js'></script>

        <script src="https://raw.github.com/chjj/marked/master/lib/marked.js"></script>

        <script src="rainbow-custom.min.js"></script>

        <script src="js/utils.js"></script>
        <script src="js/router.js"></script>
        <script src="js/document.model.js"></script>
        <script src="js/app.js"></script>

        <script type="text/javascript" src="http://use.typekit.net/gmy5jor.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>

    <body>
        <section class="write">
            <div class="write-buttons">
                <button class="write-menu-button ss-rows"></button>
                <button class="write-add-button ss-plus"></button>
                <button class="write-only-button ss-write"></button>
            </div>
            <ul class="write-menu"></ul>
            <textarea class="write-textarea"></textarea>
        </section>

        <section class="read">
            <div class="read-buttons">
                <button class="read-only-button ss-view"></button>
            </div>
            <article class="read-article"></article>
        </section>

        <script type="text/template" id="write-menu-item-template">
            <li data-id="<%= id %>" class="write-menu-item">
                <a><%= title %></a>
                <button class="write-menu-item-delete-button ss-delete"></button>
            </li>
        </script>
    </body>
</html>