/**
 * Menu.
 *
 * menu.menu
 *   li.menu-item
 *     a.menu-item-link
 */

.menu:focus {
  outline: none; /* people won't assume they need to style the focused state */
}


/**
 * -----
 * Fixes
 * -----
 */

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
audio,
canvas,
video {
  display: block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

[hidden] {
  display: none;
}


/**
 * Set default font family to sans-serif. Prevent iOS text size adjust after
 * orientation change, without disabling user zoom.
 */

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
  white-space: pre-wrap;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
  overflow: hidden;
}

/**
 * Correct font family not being inherited in all browsers. Correct font size
 * not being inherited in all browsers. Address margins set differently in
 * Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet. The dumbest UA style setting I've ever seen.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and
 * `video` controls. Correct inability to style clickable `input` types in
 * iOS. Improve usability and consistency of cursor style between image-type
 * `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Address box sizing set to `content-box` in IE 8/9. Remove excess padding in
 * IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/**
 * Address `appearance` set to `searchfield` in Safari 5 and Chrome. Address
 * `box-sizing` set to `border-box` in Safari 5 and Chrome (include `-moz` to
 * future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove default vertical scrollbar in IE 8/9. Improve readability and
 * alignment in all browsers.
 */

textarea {
  overflow: auto;
  vertical-align: top;
}



/**
 * ------
 * Resets
 * ------
 */

/**
 * Remove default html styles.
 */
 
html {
  line-height: 1;
}

/**
 * Remove default body styles.
 */

body {
  margin: 0;
}

/**
 * Remove default heading styles.
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Remove default link styles.
 */

a {
  color: inherit;
  text-decoration: none;
}

/**
 * Remove outline for links. You should style it, but not necessarily outline.
 */

a:focus,
a:active,
a:hover {
  outline: 0;
}

/**
 * Remove default paragraph styles.
 */

p,
small {
  margin: 0;
  padding: 0;
}

/**
 * Remove default list styles.
 */

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Remove default blockquote and quote styles.
 */

blockquote,
q {
  margin: 0;
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/**
 * Remove default cite styles.
 */

cite {
  font-style: inherit;
}

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
  margin: 0;
}

/**
 * Remove default form styles.
 */

form {
  margin: 0;
}

/**
 * Remove default fieldset styles.
 */

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/**
 * Correct `color` not being inherited in IE 8/9. Remove padding so people
 * aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0;
  padding: 0;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Almost always want images to be block.
 */

img { 
  display: block;
}


/**
 * Body.
 */

body {
  font: 18px/1.45 "freight-sans-pro", sans-serif;
  color: #35332e;
  overflow: hidden;
  -webkit-transition: all .3s;
          transition: all .3s;
}


/**
 * Editor.
 */

.editor {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


/**
 * Nav.
 */

.nav {
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  width: 55%;
  -webkit-transition: all .3s;
          transition: all .3s;
}


/**
 * Main menu.
 */

.main-menu {
  position: absolute;
  z-index: 1;
  top: 1em;
  left: 1em;
}

.main-menu .menu-item {
  display: inline-block;
  margin-right: 1em;
}


/**
 * Navigating state.
 */

body.navigating {
  -webkit-transform: translateX(55%);
          transform: translateX(55%);
}

body.navigating .main-menu-nav-button {
  opacity: 1;
}


/**
 * Loading state.
 */

body::before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.5em;
  margin-left: -0.5em;
  font-size: 2em;
  color: #c1b08e;
  opacity: 0;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  -webkit-transition: opacity .3s;
          transition: opacity .3s;
}

body.loading::before {
  opacity: .5;
  line-height: 1.26; /* HACK: crappy magic number to keep indicator aligned */
}

body.loading * {
  opacity: 0;
}


/**
 * Spinning animation.
 */

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg) }
  to   { -webkit-transform: rotate(360deg) }
}

@keyframes spin {
  from { transform: rotate(0deg) }
  to   { transform: rotate(360deg) }
}

/**
 * Editor.
 *
 * div.editor
 *   div.editor-write
 *     textarea.editor-input
 *   div.editor-read
 *     article.editor-output
 *   menu.editor-menu
 *     li.editor-menu-item
 *     li.editor-menu-item
 */

.editor {
  position: relative;
  background-color: #ede5d5;
  overflow: hidden;
}


/**
 * Write + Read.
 */

.editor-write,
.editor-read {
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-transition: all .3s;
          transition: all .3s;
}

.editor-input,
.editor-output {
  max-width: 32em;
  margin: 0 auto;
  padding: 6em 1em;
}

.editor-input,
.editor-output {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-mask: linear-gradient(rgba(0,0,0,0) 1%, white 8%, white 92%, rgba(0,0,0,0) 99%);
          mask: linear-gradient(rgba(0,0,0,0) 1%, white 8%, white 92%, rgba(0,0,0,0) 99%);
}

.editor-input::-webkit-scrollbar,
.editor-output::-webkit-scrollbar {
  display: none;
}


/**
 * Write.
 */

.editor-write {
  left: 0;
  right: 55%;
}

.editor-input {
  background-color: transparent;
  border: none;
  resize: none;
  font-family: "inconsolata", monospace;
  font-size: .85em;
  line-height: 1.2;
  opacity: .7;
  -webkit-transition: opacity .3s;
          transition: opacity .3s;
}

.editor-input:focus {
  outline: none;
  opacity: 1;
}

.editor-input::-webkit-input-placeholder {
  color: #ab976f;
}
.editor-input:-moz-placeholder {
  color: #ab976f;
}


/**
 * Read.
 */

.editor-read {
  z-index: 1;
  right: 0;
  left: 45%;
  background-color: white;
}

.editor-read::before {
  content: '';
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  width: 30px;
  background: url(".//theme-editor/./images/read-shadow.png") top right repeat-y;
}


/**
 * Menu.
 */

.editor-menu {
  position: absolute;
  width: 0;
  top: 1em;
  left: 45%;
  z-index: 1;
  -webkit-transition: left .3s;
          transition: left .3s;
}

.editor-menu-item-link {
  position: absolute;
  top: 0;
  -webkit-transition: left .3s, right .3s;
          transition: left .3s, right .3s;
}

.editor-write-button {
  right: 1em;
}

.editor-read-button {
  left: 1em;
}


/**
 * Writing state.
 */

.editor.writing .editor-write {
  right: 0;
}

.editor.writing .editor-read {
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
}

.editor.writing .editor-menu {
  left: 50%;
}

.editor.writing .editor-write-button {
  right: .5em;
  opacity: 1;
}

.editor.writing .editor-read-button {
  left: .5em;
}


/**
 * Reading state.
 */

.editor.reading .editor-read {
  left: 0;
}

.editor.reading .editor-write {
  -webkit-transition: translateX(-110%);
          transition: translateX(-110%);
}

.editor.reading .editor-menu {
  left: 50%;
}

.editor.reading .editor-read-button {
  left: .5em;
  opacity: 1;
}

.editor.reading .editor-write-button {
  right: .5em;
}

/**
 * Prose styles.
 */

.editor-output h1,
.editor-output h2,
.editor-output h3,
.editor-output h4,
.editor-output h5,
.editor-output h6 {
  font-weight: 600;
}

.editor-output h1,
.editor-output h2 {
  font-family: "ff-angie-pro", "freight-sans-prop", sans-serif;
}

.editor-output pre,
.editor-output code {
  font-family: "inconsolata", monospace;
}

.editor-output pre .comment {
  opacity: .5em;
}

.editor-output pre .constant,
.editor-output pre .storage,
.editor-output pre .tag,
.editor-output pre .keyword:not(.operator),
.editor-output pre .selector,
.editor-output pre .string:not(.value),
.editor-output pre .regexp,
.editor-output pre .function {
  color: #91b65b;
}

/**
 * Menu.
 *
 * .menu
 *   .menu-item
 *     .menu-item-link
 *   ...
 */

.menu-item-link {
  text-decoration: none;
  cursor: pointer;
  opacity: .5;
  color: #c1b08e;
  -webkit-transition: opacity .1s;
          transition: opacity .1s;
}

.menu-item-link:hover {
  opacity: 1;
}

/**
 * Nav.
 *
 * nav.nav
 *   form.nav-form
 *     input.nav-search[type="search"]
 *     i.nav-search-icon
 *   menu.nav-menu
 */

.nav {
  background-color: #2d2b26;
  color: #7e7c76;
}


/**
 * Form.
 */

.nav-form {
  position: relative;
}

.nav-search {
  border: none;
  display: block;
  width: 100%;
  padding: .9em 1em .9em 2.5em;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  color: white;
  background-color: #201e1a;
}

.nav-search:focus {
  outline: none;
}

.nav-search-icon {
  position: absolute;
  top: 1em;
  left: 1em;
}


/**
 * Menu.
 */

.nav-menu {
  position: absolute;
  top: 55px; /* HACK ul needs to scroll, and we aren't using flexbox yet. */
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-menu:focus {
  outline: none;
}

.nav-menu::-webkit-scrollbar {
  display: none;
}

.nav-menu .menu-item {
  position: relative;
  cursor: pointer;
}

.nav-menu .menu-item:hover,
.nav-menu .menu-item.focus,
.nav-menu .menu-item.selected {
  background-color: #3c3a35;
}

.nav-menu .menu-item:hover .menu-item-link,
.nav-menu .menu-item.focus .menu-item-link,
.nav-menu .menu-item.selected .menu-item-link {
  color: #ede5d5;
}

.nav-menu .menu-item.hidden {
  display: none;
}

.nav-menu .menu-item-title {
  display: block;
  padding: .35em 1em .35em 2.5em;
  -webkit-transition: background-color .3s;
          transition: background-color .3s;
}

.nav-menu .menu-item-delete-button {
  position: absolute;
  right: 2.5em;
  top: .55em;
  opacity: .3;
  -webkit-transition: opacity .3s;
          transition: opacity .3s;
}

.nav-menu .menu-item-delete-button:hover {
  opacity: 1;
}