
/**
 * Nav.
 *
 * nav.nav
 *   form.nav-form
 *     input.nav-search[type="search"]
 *     i.nav-search-icon
 *   menu.nav-menu
 */

.nav {
  background-color: #2d2b26;
  color: #7e7c76;
}


/**
 * Form.
 */

.nav-form {
  position: relative;
}

.nav-search {
  border: none;
  display: block;
  width: 100%;
  padding: .9em 1em .9em 2.5em;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  color: white;
  background-color: #201e1a;
}

.nav-search:focus {
  outline: none;
}

.nav-search-icon {
  position: absolute;
  top: 1em;
  left: 1em;
}


/**
 * Menu.
 */

.nav-menu {
  position: absolute;
  top: 55px; /* HACK ul needs to scroll, and we aren't using flexbox yet. */
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-menu:focus {
  outline: none;
}

.nav-menu::-webkit-scrollbar {
  display: none;
}

.nav-menu .menu-item {
  position: relative;
  cursor: pointer;
}

.nav-menu .menu-item:hover,
.nav-menu .menu-item.focus,
.nav-menu .menu-item.selected {
  background-color: #3c3a35;
}

.nav-menu .menu-item:hover .menu-item-link,
.nav-menu .menu-item.focus .menu-item-link,
.nav-menu .menu-item.selected .menu-item-link {
  color: #ede5d5;
}

.nav-menu .menu-item.hidden {
  display: none;
}

.nav-menu .menu-item-title {
  display: block;
  padding: .35em 1em .35em 2.5em;
  -webkit-transition: background-color .3s;
          transition: background-color .3s;
}

.nav-menu .menu-item-delete-button {
  position: absolute;
  right: 2.5em;
  top: .55em;
  opacity: .3;
  -webkit-transition: opacity .3s;
          transition: opacity .3s;
}

.nav-menu .menu-item-delete-button:hover {
  opacity: 1;
}